.hide-content{
    margin-top: 2rem !important;
}

.tutorial-section{
    margin-bottom: 10rem;
}

.add-tutorial-section{
    background-color: #EEEE;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tutorial-section {
    .bx--fieldset {
        width: 45rem;
    }
    margin-bottom: 20rem;
}

.bx--form {
    width: 150%;
}

.sectionHeader {
    padding-top: 35px;
    padding-bottom: 16px;
    font-size: 2rem;
}
