.tryStack__container {
display: flex;
align-items: center;
// padding-right: 2rem;

.bx--text-input-wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
}

}

.bx--overflow-menu-options__option-content {
    overflow: visible !important;
}

.clone_error {

    padding-top: 10px;
    padding-bottom: 15px;
    color: red;
}


.tryStack__input {
    padding-top: 10px;
    padding-bottom: 20px;
}